* {
    list-style: none;
    font-family: "Monaco", monospace;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: #D9CCC1;
    display: flex;
}

.sidebar {
    z-index: 1;
    position: fixed;
    width: 65px;
    height: 100%;
    background-color: #024059;
    border-left: 8px solid #012a3a;

    transition-duration: 0.5s;
}

.sidebar #sidebarHeader {
    line-height: 80px;
    background-color: #012a3a;
}

.sidebar #sidebarHeader h2 {
    font-size: 0px;
    color: #D9CCC1;
    padding-left: 100px;
    visibility: hidden;
    
    transition-duration: 0.5s;
}

.sidebar ul a {
    display: block;
    line-height: 65px;
    height: 100%;
    color: #D9CCC1;
    font-size: 20px;
    padding-left: 15px;
    border-top: 1px solid #03688f;

    transition-duration: 0.6s;
}

#currentPage {
    background: #D9CCC1;
    color: #012A3A;
}

#currentPage label {
    color: #012A3A;
}

.sidebar ul a label {
    color: #D9CCC1;
    font-size: 0%;
    transition-duration: 0.5s;
}

.sidebar ul a .material-symbols-rounded {
    vertical-align: text-bottom;
    font-size: 30px;
}

.sidebar ul li:hover a {
    background: #03688f;
    padding-left: 20px;
}

#check {
    display: none;
}

.sidebar label #open, label #close {
    position: absolute;
    top: 20px;
    color: #D9CCC1;
    font-size: 40px;
    cursor: pointer;

    transition-duration: 0.5s;
}

#open {
    left: 10px;
}

#check:hover ~ .sidebar #open {
    font-size: 50px;
    top: 15px;
    left: 5px;
    background-color: #024059;
}

#close {
    right: 20px;
    display: none;
}

.main {
    margin-left: 80px;

    transition-duration: 0.5s;
}

#check:checked ~ .main {
    margin-left: 300px;
}

#check:hover ~ .sidebar #close {
    font-size: 50px;
    top: 15px;
    right: 15px;
    background-color: #024059;
}

#check:checked ~ .sidebar {
    width: 260px;
}

#check:checked ~ .sidebar #open {
    display: none;
}

#check:checked ~ .sidebar #close {
    display: block;
}

#check:checked ~ .sidebar #sidebarHeader h2 {
    font-size: 32px;
    padding-left: 20px;
    visibility: visible;
}

#check:checked ~ .sidebar ul li label {
    font-size: 25px;
}
