
.content form button{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 30px 32%;
    width: 140px;
    height: 40px;
    border-radius: 5px;

    padding: 6px 0px;

    font-size: 20px;

    border: 2px solid #03688f;
    color: #D9CCC1;
    background-color: #024059;

    transition-duration: 0.5s;
}

.content form button:hover {
    font-size: 22px;
    background-color: #03688f;
    border: 2px solid #024059;
    border-radius: 2px;

    padding: 7px 0px;
    margin: 28px 31%;
    width: 145px;
    height: 45px;
}

.content form button .material-symbols-rounded{
    margin: 0px 6px;
}

.content .userTable a {
    width: 30px;
    height: 30px;
    background-color: rgb(176, 56, 56);
    border: 2px solid #024059;
    color: #D9CCC1;
    padding: 0px 4px;

    transition-duration: 0.3s;
}

.content .userTable a:hover {
    background-color: #024059;
    border: 2px solid  rgb(176, 56, 56);
}

.content .userTable {
    margin-top: 120px;
}


.content .userTable table, th, td {
    border-collapse: collapse;
    border: 2px solid #024059;

    padding: 2px 4px;
}

.content .userTable th {
    background-color: #024059;
    color: #D9CCC1;
}

.content .userTable tr td {
    color: #024059;
}