* {
    list-style: none;
    font-family: "Monaco", monospace;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: #D9CCC1;
}

.header {
    height: 80.5px;;
    position: fixed;
    display: flex;
    top: 0px;
    width: 100%;
    color: #D9CCC1;
    background-color: #024059;
}

.header h1 {
    align-self: center;
    font-size: 50px;
    width: 100%;
    text-align: center;
}

.loginBox {
    margin: 140px 28%;
    width: 500px;
    height: 380px;

    padding: 40px 60px;

    border: 2px solid #03688f;
    box-shadow: 4px 4px 10px #024059;
}

.loginBox form #inputField {
    display: flex;
    padding: 10px 10px;
}

.loginBox form #inputField .material-symbols-rounded {
    font-size: 40px;
    color: #024059;
    margin: 0px 10px;
    vertical-align: text-bottom;
}

.loginBox form #inputField input {
    width: 240px;
    padding-top: 10px;
    padding-left: 5px;
    margin-left: 10px;
    height: 40px;
    font-size: 20px;

    outline: none;
    border: none;
    color: #024059;
    border-bottom: 2px solid #03688f;
    background-color: #D9CCC1;

    transition-duration: 0.5s;
}

.loginBox form #inputField input:focus {
    font-size: 25px;
}

.loginBox form button{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 30px 32%;
    width: 140px;
    height: 40px;
    border-radius: 5px;

    padding: 5px 0px;

    font-size: 20px;

    border: 2px solid #03688f;
    color: #D9CCC1;
    background-color: #024059;

    transition-duration: 0.5s;
}

.loginBox form  button:hover {
    font-size: 22px;
    background-color: #03688f;
    border-radius: 2px;

    padding: 7px 0px;
    margin: 28px 31%;
    width: 145px;
    height: 45px;
}

.loginBox form button .material-symbols-rounded{
    margin: 0px 6px;
}
